---
- name: "Check if EPEL repo is already configured."
  ansible.builtin.stat:
    path: "/etc/yum.repos.d/{{ epel_repo_name }}.repo"
  register: __epel_repofile_result

- name: "Install tasks"
  when: not __epel_repofile_result.stat.exists
  block:
    - name: "REDHAT 10+ | Install requierements."
      ansible.builtin.dnf:
        name: ["gnupg2"]
        state: present
      become: true
      register: __pkg_result
      retries: 12
      delay: 10
      until: __pkg_result is success
      when: (ansible_facts.distribution_major_version | int) >= 10

    - name: "REDHAT | Add EPEL repository manually."
      ansible.builtin.yum_repository:
        name: "{{ epel_repo_name }}"
        description: "Extra Packages for Enterprise Linux {{ ansible_facts.distribution_major_version }}"
        baseurl: "{{ epel_repo_url }}"
        enabled: true
        gpgcheck: true
        gpgkey: "{{ epel_repo_gpg_key_url }}"

- name: "Disable Main EPEL repo."
  ansible.builtin.lineinfile:
    path: "/etc/yum.repos.d/{{ epel_repo_name}}.repo"
    regexp: '^enabled\s*='
    line: 'enabled={{ epel_repo_disable | ternary(0, 1) }}'
    insertafter: '^\[epel\]'
    backrefs: true
  when: epel_repo_disable is defined
