---
- name: Check if EPEL repo is already configured.
  ansible.builtin.stat:
    path: "{{ epel_repofile_path }}"
  register: __epel_repofile_result

- name: "Install tasks"
  when: not __epel_repofile_result.stat.exists
  block:
    - name: "Install requierements"
      ansible.builtin.dnf:
        name: ["gnupg2"]
        state: present
      become: true
      register: __pkg_result
      retries: 12
      delay: 10
      until: __pkg_result is success
      when: ansible_distribution in ['OracleLinux'] and ansible_distribution_major_version == '10'

    - name: Import EPEL GPG key.
      ansible.builtin.rpm_key:
        key: "{{ epel_repo_gpg_key_url }}"
        state: present
      register: __result
      until: __result is succeeded
      retries: 5
      delay: 10
      ignore_errors: "{{ ansible_check_mode }}"

    - name: Install EPEL repo.
      ansible.builtin.dnf:
        name: "{{ epel_repo_url }}"
        state: present
      register: __result
      until: __result is succeeded
      retries: 5
      delay: 10

- name: Disable Main EPEL repo.
  community.general.ini_file:
    path: "/etc/yum.repos.d/epel.repo"
    section: epel
    option: enabled
    value: "{{ epel_repo_disable | ternary(0, 1) }}"
    no_extra_spaces: true
    mode: '0644'
